# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
Synch-Undo/.vs/Synch-Undo/FileContentIndex/f9fa716e-c2cc-4f5d-8a93-1a46a636b801.vsidx
Synch-Undo/.vs/Synch-Undo/FileContentIndex/e048ca40-4e5d-4705-bbe6-de53586e9654.vsidx
Synch-Undo/.vs/Synch-Undo/FileContentIndex/cb9506c0-d375-4baa-a4f7-fd648d47f302.vsidx
Synch-Undo/.vs/Synch-Undo/FileContentIndex/735d3799-9aff-4818-9218-11742dfdb350.vsidx
Synch-Undo/.vs/Synch-Undo/FileContentIndex/6a3f1f51-fdec-4b0d-a6ae-be90299c7979.vsidx
Synch-Undo/.vs/Synch-Undo/FileContentIndex/121084ad-3337-4295-9d60-eff11f7bdc3e.vsidx
